<!--
Code Citation
2.
Flask starter code and formatting is copied and adapted from the OSU CS340 GitHub flask_starter_app
Date: 2/29/2024
Copied and adapted from:
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2

3.
Tab DIV HTML and CSS copied & adapted from Stack Overflow
Date: 2/15/2024
Copied and adapted from:
Source URL:https://stackoverflow.com/questions/6906724/is-it-possible-to-have-tabs-without-javascript

All content is original unless otherwise stated.
-->
<!-- BEGIN JINJA FORMATTING ADAPTATION CITATION 2 -->
{% extends "main.j2" %}
{% block content %}

<main>
    <h2 class="table_title">Invoice Information</h2>

<!-- BEGIN TAB FORMATTING ADAPTATION CITATION 3 -->
        <div class="invoicetabs">
            <div class="tab">
                <input type="radio" id="tab-1" name="tab-group-1" checked>
                <label for="tab-1" id="tab_name">Add</label>
                <div class="content">
                    <article>
                        <form action="/invoices/", method="post">
                            <fieldset>
                                <legend>Create Invoice</legend>
                                <label>Customer</label>
                                    <select name="customer_ID">
                                        {% if customer_dropdown_data %}
                                            {% for item in customer_dropdown_data %}
                                                <option value="{{ item['customer_id'] }}">{{ item['Name'] }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                <label>Employee</label>
                                    <select name="employee_ID">
                                    <option value="None">N/A</option>
                                        {% if employee_dropdown_data %}
                                            {% for item in employee_dropdown_data %}
                                                <option value="{{ item['employee_id'] }}">{{ item['Name'] }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>   

                                <label>Date</label>
                                <input required name="date_created" type="date" placeholder="mm/dd/yyyy">
                                <br/>
                                <p><strong>Enter number of hours completed for each service.</strong></p>
                                {% if service_data %}
                                    {% for item in service_data %}
                                        <label>{{ item['name'] }}:</label>
                                        <input
                                        type="number"
                                        min="0"
                                        value="0"
                                        name="{{ item['name'] }}"
                                        value=0/>
                                    {% endfor %}
                                {% endif %}
                                <br/>                                   
                                <input type="submit" value="Add" name="add_invoice" class="btn">
                            </fieldset>
                        </form>
                    </article>
                </div> 
            </div>       
            <div class="tab">
                <input type="radio" id="tab-2" name="tab-group-1">
                <label for="tab-2" id="tab_name">Update</label>        
                <div class="content">
                    <article>
                        <form action="/invoices/" method="post">
                            <fieldset>
                                <legend>Update Invoice</legend>
                                <label>Select Invoice</label>
                                    <select name="invoice_ID">
                                        {% if find_invoice %}
                                            {% for item in find_invoice %}
                                                <option value={{ item['invoice_id'] }}>{{ item['Name'] }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                <br/>
                                <input type="submit" value="Update" name="edit_invoice" class="btn">                               
                            </fieldset>
                        </form>
                    </article>
                </div> 
            </div>
            <div class="tab">
                <input type="radio" id="tab-3" name="tab-group-1">
                <label for="tab-3" id="tab_name">Delete</label>       
                <div class="content">
                    <article>
                        <form action="/invoices/", method="post">
                            <fieldset>
                                <legend>Delete Invoice</legend>
                                <label>Select Invoice</label>
                                    <select name="invoice_ID">
                                        {% if find_invoice %}
                                            {% for item in find_invoice %}
                                                <option value={{ item['invoice_id'] }}>{{ item['Name'] }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                <br/>
                                <input type="submit" value="Delete" name="delete_invoice" class="btn" onclick="return confirm('Are you sure you want to delete the selected invoice?')" >                               
                            </fieldset>
                        </form>
                    </article>
                </div> 
            </div>       
        </div>
<!-- END TAB FORMATTING ADAPTATION CITATION 3 -->

    <table>
        {% if invoice_data %}
            <thead>
                <tr>
                    {% for key in invoice_data[0].keys() %}       
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                    {% endfor %} 
                </tr>
            </thead>
            <tbody>
                {% for item in invoice_data %}
                    <tr>
                        {% for key in item.keys() %}
                            <td> {{item[key]}} </td> 
                        {% endfor %}
                    </tr> 
                {% endfor %}
            </tbody>
        {% endif %} 
    </table>
</main>

{% endblock %}

<!-- END JINJA FORMATTING ADAPTATION CITATION 2 -->
